
@{
    dynamic albumJSON = TempData["albumJSON"];
    string name = albumJSON.name;
    string artist = albumJSON.artists[0].name;
    string year = albumJSON.release_date;
    string albumCover = albumJSON.images[0].url;
    dynamic tracks = albumJSON.tracks.items;
    ViewBag.Title = @name;
}

<script src="@Url.Content("../../Scripts/dynamicElements.js")" type="text/javascript"></script>

<div>
    <h1>@name (@albumJSON.id)</h1>
    <h2>@Html.ActionLink(@artist, "SearchArtistByName", "Artist", new { artistName = @artist }, null)</h2>
    <h2>@year</h2>
    <img src=@albumCover>

    @{ 
        foreach(var track in tracks)
        {
            <div>
                <h3>@track.name</h3>
                @if (@track.preview_url != null)
                {
                    <div class="previewButton">
                        <button onclick="playPreview('@track.track_number', '@track.preview_url')">Play Preview</button>
                    </div>
                }
                <div id="@track.track_number">
                </div>
            </div> 
        }
    }
</div>

